# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.toast
.cache/
.pytest_cache/

# Databases & Vector store
*.db
chroma_db/

# Local uploads
uploads/

# Environments
.env
.env.*
